[submodule "CPP"]
	path = CPP
	url = https://github.com/Razorbotz/CPP
[submodule "ROS2"]
	path = ROS2
	url = https://github.com/Razorbotz/ROS2
[submodule "C++"]
	path = C++
	url = https://github.com/Razorbotz/CPP.git
